*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
}
header{
    padding-bottom: 5rem;
    background: linear-gradient(130deg, #fdefe9 62%, white 50%);
}

nav{
    padding-block: 1rem;
}
.gen-layout{
    max-width: 1000px;
    margin: auto;
}
.inner-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-right{
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-items{
    display: flex;
    gap: 2rem;
}
.nav-items>a{
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
    font-weight: 500;
}
.nav-items>a:first-child{
    color: #ee4f0e;
    font-weight: 600;
}
.btn-btn>button{
    padding: 1rem 1.6rem;
    border-radius: 5px;
    background-color: #ee4f0e;
    border: none;
    color: #fff;
}

/* banner styling */
.banner{
    display: flex;
    gap: 14rem;
    align-items: center;
    margin-bottom: 2rem;
    /* justify-content: space-between; */
}

.banner-content{
    width: 35%;
}

.banner-content > h1{
    font-size: 3rem;
    width: 280px;
}

.banner-content > h1 > span{
    color: #ee4f0e;
}
.banner-content > p{
    width: 280px;
    opacity: .7;
    margin-top: 1rem;
}

.banner-image{
    width: 35%;
    height: 50vh;
    border: 8px solid #f6b59a;
}

.banner-image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* shoe detail styling */
.shoe_details_card{
    border-radius: 5px;
    margin-bottom: -7rem;
    box-shadow: .4rem .3rem 12px rgb(239, 239, 239);
    display: flex;
    justify-content: space-between;
    /* gap: 3rem; */
    padding: 1.3rem;
    background-color: #fff;
    max-width: 700px;
}

.detial_card{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-right: 2px solid #ee4f0e;
    padding-inline: 1rem;
}

.detial_card > p{
    text-transform: capitalize;
}

/* about code */
.about_ads{
    margin-block: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about_content > h5{
    text-transform: uppercase;
    color: red;
    font-size: 1rem;
}

.about_content > h1{
    font-size: 2.5rem;
    width: 350px;
    margin-block: 1.2rem;
}

.about_content > p{
    width: 300px;
    opacity: .6;
}

.about_img_vidz{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("./images/glass\ girl.jpg");
    width: 43%;
    height: 40vh;
    position: relative;
    border-radius: 7px;
}

.about_img_vidz > img{
    filter: blur(1px);
    width: 100%;
    margin-left: -2rem;
    margin-top: 2rem;
    height: 100%;
    border-radius: 7px;
}

.about_img_vidz > span{
    position: absolute;
    top: 50%;
    left: 35%;
    /* right: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 100%;
    width: 60px;
    height: 60px;
}

.about_img_vidz > span > i{
    color: #ee4f0e;
    font-size: 1.2rem;
}
/* features styling */
/* .features{
    border: 2px solid;
} */

.features > h5{
    color: red;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
}

.features > h1 {
    text-align: center;
    font-size: 2rem;
}

.feature-cards-wrapper{
    margin-block: 2.5rem;
    display: flex;
    gap: 1.8rem;
}

.feature-card{
    border-radius: 10px;
    padding: 2rem;
    box-shadow: .2rem .3rem 15px rgb(223, 220, 220);
    height: 50vh;
    width: 35%;
    background-color: #fff;
}

.feature-card:nth-child(2){
    background-color: #fdeee7;
}
.feature-card > span{
    background-color: #e7effc;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: auto;
}
.feature-card-content{
    margin-block: 1rem;
}
.feature-card-content > h4{
    text-align: center;
    font-size: 1.2rem;
    text-transform: capitalize;
}
.feature-card-content > p{
    text-align: center;
    margin-block: 1rem;
    font-size: 14px;
}

.feature-card-content > a{
    display: block;
    color: red;
    text-align: center;
    text-decoration: none;
}

.feature-card-content > a > span{
    color: black;
}

/* Responsiveness code */
@media (min-width: 320px) and (max-width: 460px){
    .inner-nav{
        width: calc(100% - 30px);
    }

    .nav-right{
        display: none;
    }

    .banner{
        width: calc(100% - 30px);
        flex-direction: column;
        gap: 5rem;
    }

    .banner-content, .banner-image{
        width: 100%;
    }

    .shoe_details{
        width: calc(100% - 30px);
    }

    .shoe_details_card{
        gap: .3rem;
        padding: 1rem;
    }

    .about_ads{
        width: calc(100% - 30px);
        flex-direction: column;
        gap: 2rem;
    }

    .about_content{
        width: 100%;
    }

    .about_img_vidz{
        width: 90%;
        margin: auto;
    }

    .about_img_vidz > img{
        margin-left: -1.5rem;
    }

    .features{
        width: calc(100% - 30px);
    }

    .feature-cards-wrapper{
        width: 360px;
        margin: 2rem auto;
        flex-direction: column;
    }

    .feature-card{
        width: 100%;
    }

    .features > h1{
        font-size: 1.7rem;
    }
}